ul {
    list-style: none;
}

body {
    font-family: sans-serif;
}

header div {
    float: right;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
    position: relative;
    display: grid;
    width: 300px;
    text-align: end;
}
h1
{
    text-align: center;
}

img {
    max-width: 200px;
    height: auto;
}

div {
    padding: 30px;
}

div table {
    width: 600px;
    border-collapse: collapse;
    float: right;
}



td, th {
    padding: 5px 15px;
    border: 1px solid #ccc;
}

button:hover,
button:focus {
    background: darkgreen;
    cursor: pointer;
}

button {
    width: 20vh;
    margin-top: 20px;
    background: green;
    padding: 10px 20px;
    border: 0;
    color: #fff;
}

input {
    width: 60vh;
}